{
    "swagger": "2.0",
    "info": {
        "title": "Fitbit Web API",
        "description": "Fitbit provides a Web API for accessing data from Fitbit activity trackers, Aria scale, and manually entered logs. Anyone can develop an application to access and modify a Fitbit user's data on their behalf, so long as it complies with Fitbit Platform Terms of Service. These Swagger UI docs do not currently support making Fitbit API requests directly. In order to make a request, construct a request for the appropriate endpoint using this documentation, and then add an Authorization header to each request with an access token obtained using the steps outlined here: https://dev.fitbit.com/build/reference/web-api/oauth2/#obtaining-consent.",
        "version": "1",
        "termsOfService": "https://dev.fitbit.com/terms",
        "contact": {
            "name": "Web API Support",
            "url": "https://dev.fitbit.com/build/reference/web-api/help/"
        }
    },
    "host": "api.fitbit.com",
    "tags": [
        {
            "name": "Activity",
            "description": "",
            "externalDocs": {
                "description": "Full documentation",
                "url": "https://dev.fitbit.com/build/reference/web-api/activity/"
            }
        },
        {
            "name": "Activity Intraday Time Series",
            "description": "",
            "externalDocs": {
                "description": "Full documentation",
                "url": "https://dev.fitbit.com/build/reference/web-api/activity/#get-activity-intraday-time-series"
            }
        },
        {
            "name": "Activity Time Series",
            "description": "",
            "externalDocs": {
                "description": "Full documentation",
                "url": "https://dev.fitbit.com/build/reference/web-api/activity/#activity-time-series"
            }
        },
        {
            "name": "Auth",
            "description": "authentication and authorization using OAuth 2",
            "externalDocs": {
                "description": "Full documentation",
                "url": "https://dev.fitbit.com/build/reference/web-api/oauth2/"
            }
        },
        {
            "name": "Body and Weight",
            "description": "",
            "externalDocs": {
                "description": "Full documentation",
                "url": "https://dev.fitbit.com/build/reference/web-api/body/"
            }
        },
        {
            "name": "Body and Weight Time Series",
            "description": "",
            "externalDocs": {
                "description": "Full documentation",
                "url": "https://dev.fitbit.com/build/reference/web-api/body/#body-time-series"
            }
        },
       {
            "name": "Devices",
            "description": "",
            "externalDocs": {
                "description": "Full documentation",
                "url": "https://dev.fitbit.com/build/reference/web-api/devices/"
            }
        },
        {
            "name": "Food and Water",
            "description": "",
            "externalDocs": {
                "description": "Full documentation",
                "url": "https://dev.fitbit.com/build/reference/web-api/food-logging/"
            }
        },
        {
            "name": "Food and Water Time Series",
            "description": "",
            "externalDocs": {
                "description": "Full documentation",
                "url": "https://dev.fitbit.com/build/reference/web-api/food-logging/#food-or-water-time-series"
            }
        },
        {
            "name": "Friends",
            "description": "",
            "externalDocs": {
                "description": "Full documentation",
                "url": "https://dev.fitbit.com/build/reference/web-api/friends/"
            }
        },
        {
            "name": "Heart Rate Intraday Time Series",
            "description": "",
            "externalDocs": {
                "description": "Full documentation",
                "url": "https://dev.fitbit.com/build/reference/web-api/heart-rate/#get-heart-rate-intraday-time-series"
            }
        },
        {
            "name": "Heart Rate Time Series",
            "description": "",
            "externalDocs": {
                "description": "Full documentation",
                "url": "https://dev.fitbit.com/build/reference/web-api/heart-rate/#heart-rate-time-series"
            }
        },
        {
            "name": "Sleep",
            "description": "",
            "externalDocs": {
                "description": "Full documentation",
                "url": "https://dev.fitbit.com/build/reference/web-api/sleep/"
            }
        },
        {
            "name": "Subscriptions",
            "description": "",
            "externalDocs": {
                "description": "Full documentation",
                "url": "https://dev.fitbit.com/build/reference/web-api/subscriptions/"
            }
        },
        {
            "name": "User",
            "description": "",
            "externalDocs": {
                "description": "Full documentation",
                "url": "https://dev.fitbit.com/build/reference/web-api/user/"
            }
        }
    ],
    "schemes": [
        "https"
    ],
    "paths": {
        "/oauth2/token": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Get OAuth 2 access token",
                "description": "Retrieves an OAuth 2 access token.",
                "operationId": "oauthToken",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "The Authorization header must be set to 'Basic' followed by a space, then the Base64 encoded string of your application's client id and secret concatenated with a colon. For example, 'Basic Y2xpZW50X2lkOmNsaWVudCBzZWNyZXQ='. The Base64 encoded string, 'Y2xpZW50X2lkOmNsaWVudCBzZWNyZXQ=', is decoded as 'client_id:client secret'.",
                        "type": "string"
                    },
                    {
                        "name": "code",
                        "in": "query",
                        "description": "Authorization code received in the redirect as URI parameter. Required if using the Authorization Code flow.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "client_id",
                        "in": "query",
                        "description": "This is your Fitbit API application id from your settings on dev.fitbit.com.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "expires_in",
                        "in": "query",
                        "description": "Specify the desired access token lifetime. Defaults to 28800 for 8 hours. The other valid value is 3600 for 1 hour.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "grant_type",
                        "in": "query",
                        "description": "Authorization grant type. Valid values are 'authorization_code' and 'refresh_token'.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "redirect_uri",
                        "in": "query",
                        "description": "Uri to which the access token will be sent if the request is successful. Required if specified in the redirect to the authorization page. Must be exact match.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "refresh_token",
                        "in": "query",
                        "description": "Refresh token issued by Fitbit. Required if 'grant_type' is 'refresh_token'.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "state",
                        "in": "query",
                        "description": "Required if specified in the redirect uri of the authorization page. Must be an exact match.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful request."
                    },
                    "400": {
                        "description": "The request had bad syntax or was inherently impossible to be satisfied."
                    },
                    "401": {
                        "description": "Authentication was unsuccessful due to invalid client credentials."
                    },
                    "409": {
                        "description": "Request conflict due to multiple clients attempting to refresh the same access token."
                    }
                }
            }
        },
        "/1.1/oauth2/introspect": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Retrieve the active state of an OAuth 2.0 token",
                "description": "Retrieves the active state of an OAuth 2.0 token. It follows https://tools.ietf.org/html/rfc7662.",
                "operationId": "introspect",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "name": "token",
                        "in": "formData",
                        "description": "OAuth 2.0 token to retrieve the state of",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful request."
                    },
                    "400": {
                        "description": "The request had bad syntax or was inherently impossible to be satisfied."
                    },
                    "401": {
                        "description": "Authentication was unsuccessful due to invalid client credentials."
                    },
                    "409": {
                        "description": "Request conflict due to multiple clients"
                    }
                },
                "security": [
                    {
                        "oauth2": []
                    }
                ]
            }
        },
        "/1/user/-/activities/date/{date}.json": {
            "get": {
                "tags": [
                    "Activity"
                ],
                "summary": "Get Activity Summary by Date ",
                "description": "Retrieves a summary and list of a user's activities and activity log entries for a given day.",
                "operationId": "getActivitiesByDate",
                "produces": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "name": "date",
                        "in": "path",
                        "description": "The date in the format yyyy-MM-dd",
                        "required": true,
                        "type": "string",
                        "format": "date"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful request."
                        },
                    "400": {
                        "description": "The request had bad syntax or was inherently impossible to be satified."
                        },
                    "401": {
                        "description": "The request requires user authentication."
                        },
                    "409": {
                        "description": "Returned if the given user is already subscribed to this stream using a different subscription ID, OR if the given subscription ID is already used to identify a subscription to a different stream."
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "activity",
                            "heartrate",
                            "location",
                            "nutrition",
                            "profile",
                            "settings",
                            "sleep",
                            "social",
                            "weight"
                        ]
                    }
                ]
            }
        },
        "/1/user/-/activities/{resource-path}/date/{base-date}/{end-date}.json": {
            "get": {
                "tags": [
                    "Activity Time Series"
                ],
                "summary": "Get Activity Resource by Date Range",
                "description": "Returns activities time series data in the specified range for a given resource.",
                "operationId": "getActivitiesResourceByDateRange",
                "produces": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "name": "resource-path",
                        "in": "path",
                        "description": "The resource-path; see options in the Resource Path Options section in the full documentation.",
                        "required": true,
                        "type": "string",
                        "enum": [
                          "calories",
                          "caloriesBMR",
                          "steps",
                          "distance",
                          "floors",
                          "elevation",
                          "minutesSedentary",
                          "minutesLightlyActive",
                          "minutesFairlyActive",
                          "minutesVeryActive",
                          "activityCalories"
                        ],
                        "default": "steps"
                    },
                    {
                        "name": "base-date",
                        "in": "path",
                        "description": "The range start date in the format yyyy-MM-dd or today.",
                        "required": true,
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "name": "end-date",
                        "in": "path",
                        "description": "The end date of the range.",
                        "required": true,
                        "type": "string",
                        "format": "date"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful request."
                        },
                    "400": {
                        "description": "The request had bad syntax or was inherently impossible to be satified."
                        },
                    "401": {
                        "description": "The request requires user authentication."
                        },
                    "409": {
                        "description": "Returned if the given user is already subscribed to this stream using a different subscription ID, OR if the given subscription ID is already used to identify a subscription to a different stream."
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "activity",
                            "heartrate",
                            "location",
                            "nutrition",
                            "profile",
                            "settings",
                            "sleep",
                            "social",
                            "weight"
                        ]
                    }
                ]
            }
        },
        "/1/user/-/activities/tracker/{resource-path}/date/{base-date}/{end-date}.json": {
            "get": {
                "tags": [
                    "Activity Time Series"
                ],
                "summary": "Get Activity Tracker Resource by Date Range Time Series",
                "description": "Returns time series data in the specified range for a given resource.",
                "operationId": "getActivitiesTrackerResourceByDateRange",
                "produces": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "name": "resource-path",
                        "in": "path",
                        "description": "The resource-path; see options in the Resource Path Options section in the full documentation.",
                        "required": true,
                        "type": "string",
                        "enum": [
                          "calories",
                          "caloriesBMR",
                          "steps",
                          "distance",
                          "floors",
                          "elevation",
                          "minutesSedentary",
                          "minutesLightlyActive",
                          "minutesFairlyActive",
                          "minutesVeryActive",
                          "activityCalories"
                        ],
                        "default": "steps"
                    },
                    {
                        "name": "base-date",
                        "in": "path",
                        "description": "The range start date in the format yyyy-MM-dd or today.",
                        "required": true,
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "name": "end-date",
                        "in": "path",
                        "description": "The end date of the range.",
                        "required": true,
                        "type": "string",
                        "format": "date"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful request."
                        },
                    "400": {
                        "description": "The request had bad syntax or was inherently impossible to be satified."
                        },
                    "401": {
                        "description": "The request requires user authentication."
                        },
                    "409": {
                        "description": "Returned if the given user is already subscribed to this stream using a different subscription ID, OR if the given subscription ID is already used to identify a subscription to a different stream."
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "activity",
                            "heartrate",
                            "location",
                            "nutrition",
                            "profile",
                            "settings",
                            "sleep",
                            "social",
                            "weight"
                        ]
                    }
                ]
            }
        },

        "/1/user/-/activities/{resource-path}/date/{date}/{period}.json": {
            "get": {
                "tags": [
                    "Activity Time Series"
                ],
                "summary": "Get Activity Time Series",
                "description": "Returns time series data in the specified range for a given resource in the format requested using units in the unit system that corresponds to the Accept-Language header provided.",
                "operationId": "getActivitiesResourceByDatePeriod",
                "produces": [
                    "application/x-www-form-urlencoded"
                ],

                "parameters": [
                    {
                      "name": "resource-path",
                      "in": "path",
                      "description": "The resource-path; see options in the Resource Path Options section in the full documentation.",
                      "required": true,
                      "type": "string",
                      "enum": [
                        "calories",
                        "caloriesBMR",
                        "steps",
                        "distance",
                        "floors",
                        "elevation",
                        "minutesSedentary",
                        "minutesLightlyActive",
                        "minutesFairlyActive",
                        "minutesVeryActive",
                        "activityCalories"
                      ],
                      "default": "steps"
                    },
                    {
                        "name": "date",
                        "in": "path",
                        "description": "The end date of the period specified in the format yyyy-MM-dd or today.",
                        "required": true,
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "name": "period",
                        "in": "path",
                        "description": "The range for which data will be returned. Options are 1d, 7d, 30d, 1w, 1m, 3m, 6m, 1y, or max.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful request."
                        },
                    "400": {
                        "description": "The request had bad syntax or was inherently impossible to be satified."
                        },
                    "401": {
                        "description": "The request requires user authentication."
                        },
                    "409": {
                        "description": "Returned if the given user is already subscribed to this stream using a different subscription ID, OR if the given subscription ID is already used to identify a subscription to a different stream."
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "activity",
                            "heartrate",
                            "location",
                            "nutrition",
                            "profile",
                            "settings",
                            "sleep",
                            "social",
                            "weight"
                        ]
                    }
                ]
            }
        },

        "/1/user/-/activities/tracker/{resource-path}/date/{date}/{period}.json": {
            "get": {
                "tags": [
                    "Activity Time Series"
                ],
                "summary": "Get Activity Time Series",
                "description": "Returns time series data in the specified range for a given resource in the format requested using units in the unit system that corresponds to the Accept-Language header provided.",
                "operationId": "getActivitiesTrackerResourceByDatePeriod",
                "produces": [
                    "application/x-www-form-urlencoded"
                ],

                "parameters": [
                    {
                      "name": "resource-path",
                      "in": "path",
                      "description": "The resource-path; see options in the Resource Path Options section in the full documentation.",
                      "required": true,
                      "type": "string",
                      "enum": [
                        "calories",
                        "caloriesBMR",
                        "steps",
                        "distance",
                        "floors",
                        "elevation",
                        "minutesSedentary",
                        "minutesLightlyActive",
                        "minutesFairlyActive",
                        "minutesVeryActive",
                        "activityCalories"
                      ],
                      "default": "steps"
                    },
                    {
                        "name": "date",
                        "in": "path",
                        "description": "The end date of the period specified in the format yyyy-MM-dd or today.",
                        "required": true,
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "name": "period",
                        "in": "path",
                        "description": "The range for which data will be returned. Options are 1d, 7d, 30d, 1w, 1m, 3m, 6m, 1y, or max.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful request."
                        },
                    "400": {
                        "description": "The request had bad syntax or was inherently impossible to be satified."
                        },
                    "401": {
                        "description": "The request requires user authentication."
                        },
                    "409": {
                        "description": "Returned if the given user is already subscribed to this stream using a different subscription ID, OR if the given subscription ID is already used to identify a subscription to a different stream."
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "activity",
                            "heartrate",
                            "location",
                            "nutrition",
                            "profile",
                            "settings",
                            "sleep",
                            "social",
                            "weight"
                        ]
                    }
                ]
            }
        },

        "/1/user/-/activities/{resource-path}/date/{base-date}/{end-date}/{detail-level}.json": {
            "get": {
                "tags": [
                    "Activity Intraday Time Series"
                ],
                "summary": "Get Activity Intraday Time Series",
                "description": "Returns the Activity Intraday Time Series for a given resource in the format requested.",
                "operationId": "getActivitiesResourceByDateRangeIntraday",
                "produces": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                    "name": "resource-path",
                    "in": "path",
                    "description": "The resource-path; see options in the Resource Path Options section in the full documentation.",
                    "required": true,
                    "type": "string",
                    "enum": [
                      "calories",
                      "steps",
                      "distance",
                      "floors",
                      "elevation"
                      ],
                      "default": "steps"
                    },
                    {
                        "name": "base-date",
                        "in": "path",
                        "description": "The date in the format yyyy-MM-dd or today.",
                        "required": true,
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "name": "end-date",
                        "in": "path",
                        "description": "The date in the format yyyy-MM-dd or today.",
                        "required": true,
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "name": "detail-level",
                        "in": "path",
                        "description": "Number of data points to include. Either 1min or 15min. Optional.",
                        "required": true,
                        "type": "string",
                        "default": "1min"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful request."
                        },
                    "400": {
                        "description": "The request had bad syntax or was inherently impossible to be satified."
                        },
                    "401": {
                        "description": "The request requires user authentication."
                        },
                    "409": {
                        "description": "Returned if the given user is already subscribed to this stream using a different subscription ID, OR if the given subscription ID is already used to identify a subscription to a different stream."
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "activity",
                            "heartrate",
                            "location",
                            "nutrition",
                            "profile",
                            "settings",
                            "sleep",
                            "social",
                            "weight"
                        ]
                    }
                ]
            }
        },

        "/1/user/-/activities/{resource-path}/date/{date}/1d/{detail-level}.json": {
            "get": {
                "tags": [
                    "Activity Intraday Time Series"
                ],
                "summary": "Get Intraday Time Series",
                "description": "Returns the Intraday Time Series for a given resource in the format requested.",
                "operationId": "getActivitiesResourceByDateIntraday",
                "produces": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                      "name": "resource-path",
                      "in": "path",
                      "description": "The resource-path; see options in the Resource Path Options section in the full documentation.",
                      "required": true,
                      "type": "string",
                      "enum": [
                        "calories",
                        "steps",
                        "distance",
                        "floors",
                        "elevation"
                      ],
                        "default": "steps"
                    },
                    {
                        "name": "date",
                        "in": "path",
                        "description": "The date in the format yyyy-MM-dd or today.",
                        "required": true,
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "name": "detail-level",
                        "in": "path",
                        "description": "Number of data points to include. Either 1min or 15min. Optional.",
                        "required": true,
                        "type": "string",
                        "default": "1min"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful request."
                        },
                    "400": {
                        "description": "The request had bad syntax or was inherently impossible to be satified."
                        },
                    "401": {
                        "description": "The request requires user authentication."
                        },
                    "409": {
                        "description": "Returned if the given user is already subscribed to this stream using a different subscription ID, OR if the given subscription ID is already used to identify a subscription to a different stream."
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "activity",
                            "heartrate",
                            "location",
                            "nutrition",
                            "profile",
                            "settings",
                            "sleep",
                            "social",
                            "weight"
                        ]
                    }
                ]
            }
        },

        "/1/user/-/activities/{resource-path}/date/{date}/{end-date}/{detail-level}/time/{start-time}/{end-time}.json": {
            "get": {
                "tags": [
                    "Activity Intraday Time Series"
                ],
                "summary": "Get Activity Intraday Time Series",
                "description": "Returns the Intraday Time Series for a given resource in the format requested.",
                "operationId": "getActivitiesResourceByDateRangeTimeSeriesIntraday",
                "produces": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                      "name": "resource-path",
                      "in": "path",
                      "description": "The resource-path; see options in the Resource Path Options section in the full documentation.",
                      "required": true,
                      "type": "string",
                      "enum": [
                        "calories",
                        "steps",
                        "distance",
                        "floors",
                        "elevation"
                      ],
                      "default": "steps"
                    },
                    {
                        "name": "date",
                        "in": "path",
                        "description": "The date in the format yyyy-MM-dd or today.",
                        "required": true,
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "name": "end-date",
                        "in": "path",
                        "description": "The date in the format yyyy-MM-dd or today.",
                        "required": true,
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "name": "detail-level",
                        "in": "path",
                        "description": "Number of data points to include. Either 1min or 15min.",
                        "required": true,
                        "type": "string",
                        "default": "1min"
                    },
                    {
                        "name": "start-time",
                        "in": "path",
                        "description": "The start of the period in the format HH:mm.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "end-time",
                        "in": "path",
                        "description": "The end of the period in the format HH:mm.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful request."
                        },
                    "400": {
                        "description": "The request had bad syntax or was inherently impossible to be satified."
                        },
                    "401": {
                        "description": "The request requires user authentication."
                        },
                    "409": {
                        "description": "Returned if the given user is already subscribed to this stream using a different subscription ID, OR if the given subscription ID is already used to identify a subscription to a different stream."
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "activity",
                            "heartrate",
                            "location",
                            "nutrition",
                            "profile",
                            "settings",
                            "sleep",
                            "social",
                            "weight"
                        ]
                    }
                ]
            }
        },

        "/1/user/-/activities/{resource-path}/date/{date}/1d/{detail-level}/time/{start-time}/{end-time}.json": {
            "get": {
                "tags": [
                    "Activity Intraday Time Series"
                ],
                "summary": "Get Intraday Time Series",
                "description": "Returns the Intraday Time Series for a given resource in the format requested.",
                "operationId": "getActivitiesResourceByDateTimeSeriesIntraday",
                "produces": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                      "name": "resource-path",
                      "in": "path",
                      "description": "The resource-path; see options in the Resource Path Options section in the full documentation.",
                      "required": true,
                      "type": "string",
                      "enum": [
                        "calories",
                        "steps",
                        "distance",
                        "floors",
                        "elevation"
                      ],
                      "default": "steps"
                    },
                    {
                        "name": "date",
                        "in": "path",
                        "description": "The date in the format yyyy-MM-dd or today.",
                        "required": true,
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "name": "detail-level",
                        "in": "path",
                        "description": "Number of data points to include. Either 1min or 15min.",
                        "required": true,
                        "type": "string",
                        "default": "1min"
                    },
                    {
                        "name": "start-time",
                        "in": "path",
                        "description": "The start of the period in the format HH:mm.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "end-time",
                        "in": "path",
                        "description": "The end of the period in the format HH:mm.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful request."
                        },
                    "400": {
                        "description": "The request had bad syntax or was inherently impossible to be satified."
                        },
                    "401": {
                        "description": "The request requires user authentication."
                        },
                    "409": {
                        "description": "Returned if the given user is already subscribed to this stream using a different subscription ID, OR if the given subscription ID is already used to identify a subscription to a different stream."
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "activity",
                            "heartrate",
                            "location",
                            "nutrition",
                            "profile",
                            "settings",
                            "sleep",
                            "social",
                            "weight"
                        ]
                    }
                ]
            }
        },
        "/1/user/-/activities.json": {
            "post": {
                "tags": [
                    "Activity"
                ],
                "summary": "Log Activity",
                "description": "The Log Activity endpoint creates log entry for an activity or user's private custom activity using units in the unit system which corresponds to the Accept-Language header provided (or using optional custom distanceUnit) and get a response in the format requested.",
                "operationId": "addActivitiesLog",
                "produces": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "name": "activityId",
                        "in": "query",
                        "description": "The ID of the activity, directory activity or intensity level activity.",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "activityName",
                        "in": "query",
                        "description": "Custom activity name. Either activityId or activityName must be provided.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "manualCalories",
                        "in": "query",
                        "description": "Calories burned that are manaully specified. Required with activityName must be provided.",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "startTime",
                        "in": "query",
                        "description": "Activity start time. Hours and minutes in the format HH:mm:ss.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "durationMillis",
                        "in": "query",
                        "description": "Duration in milliseconds.",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "date",
                        "in": "query",
                        "description": "Log entry date in the format yyyy-MM-dd.",
                        "required": true,
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "name": "distance",
                        "in": "query",
                        "description": "Distance is required for logging directory activity in the format X.XX and in the selected distanceUnit.",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "distanceUnit",
                        "in": "query",
                        "description": "Distance measurement unit. Steps units are available only for Walking (activityId=90013) and Running (activityId=90009) directory activities and their intensity levels.",
                        "required": false,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful request."
                        },
                    "400": {
                        "description": "The request had bad syntax or was inherently impossible to be satified."
                        },
                    "401": {
                        "description": "The request requires user authentication."
                        },
                    "409": {
                        "description": "Returned if the given user is already subscribed to this stream using a different subscription ID, OR if the given subscription ID is already used to identify a subscription to a different stream."
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "activity",
                            "heartrate",
                            "location",
                            "nutrition",
                            "profile",
                            "settings",
                            "sleep",
                            "social",
                            "weight"
                        ]
                    }
                ]
            },
            "get": {
            "tags": [
                "Activity"
                    ],
            "summary": "Get Lifetime Stats",
            "description": "Updates a user's daily activity goals and returns a response using units in the unit system which corresponds to the Accept-Language header provided.",
            "operationId": "getActivitiesLog",
            "produces": [
                "application/x-www-form-urlencoded"
                        ],
                "responses": {
                    "200": {
                        "description": "A successful request."
                          },
                    "400": {
                        "description": "The request had bad syntax or was inherently impossible to be satified."
                          },
                      "401": {
                          "description": "The request requires user authentication."
                            },
                      "409": {
                          "description": "Returned if the given user is already subscribed to this stream using a different subscription ID, OR if the given subscription ID is already used to identify a subscription to a different stream."
                            }
                          },
                            "security": [
                                {
                                    "oauth2": [
                                        "activity",
                                        "heartrate",
                                        "location",
                                        "nutrition",
                                        "profile",
                                        "settings",
                                        "sleep",
                                        "social",
                                        "weight"
                                    ]
                                }
                            ]
                        }
                    },

        "/1/user/-/activities/{activity-log-id}.json": {
            "delete": {
                "tags": [
                    "Activity"
                ],
                "summary": "Delete Activity Log",
                "description": "Deletes a user's activity log entry with the given ID.",
                "operationId": "deleteActivitiesLog",
                "produces": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "name": "activity-log-id",
                        "in": "path",
                        "description": "The id of the activity log entry.",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "A successful request."
                        },
                    "400": {
                        "description": "The request had bad syntax or was inherently impossible to be satified."
                        },
                    "401": {
                        "description": "The request requires user authentication."
                        }
                },
                "security": [
                    {
                        "oauth2": [
                           "activity",
                            "heartrate",
                            "location",
                            "nutrition",
                            "profile",
                            "settings",
                            "sleep",
                            "social",
                            "weight"
                        ]
                    }
                ]
            }
        },



        "/1/user/-/activities/list.json": {
            "get": {
                "tags": [
                    "Activity"
                ],
                "summary": "Get Activity Log List",
                "description": "Retreives a list of user's activity log entries before or after a given day with offset and limit using units in the unit system which corresponds to the Accept-Language header provided.",
                "operationId": "getActivitiesLogList",
                "produces": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "name": "beforeDate",
                        "in": "query",
                        "description": "The date in the format yyyy-MM-ddTHH:mm:ss. Only yyyy-MM-dd is required. Either beforeDate or afterDate should be specified.",
                        "required": false,
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "name": "afterDate",
                        "in": "query",
                        "description": "The date in the format yyyy-MM-ddTHH:mm:ss.",
                        "required": false,
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "The sort order of entries by date asc (ascending) or desc (descending).",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "The offset number of entries.",
                        "required": true,
                        "type": "integer",
                        "default": "0"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The maximum number of entries returned (maximum;100).",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful request."
                        },
                    "400": {
                        "description": "The request had bad syntax or was inherently impossible to be satified."
                        },
                    "401": {
                        "description": "The request requires user authentication."
                        },
                    "409": {
                        "description": "Returned if the given user is already subscribed to this stream using a different subscription ID, OR if the given subscription ID is already used to identify a subscription to a different stream."
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "activity",
                            "heartrate",
                            "location",
                            "nutrition",
                            "profile",
                            "settings",
                            "sleep",
                            "social",
                            "weight"
                        ]
                    }
                ]
            }
        },
        "/1/user/-/activities/{log-id}.tcx": {
            "get": {
                "tags": [
                    "Activity"
                ],
                "summary": "Get Activity TCX",
                "description": "Retreives the details of a user's location and heart rate data during a logged exercise activity.",
                "operationId": "getActivitiesTCX",
                "produces": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "name": "log-id",
                        "in": "path",
                        "description": "The activity's log ID.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "includePartialTCX",
                        "in": "query",
                        "description": "Include TCX points regardless of GPS data being present",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful request."
                        },
                    "400": {
                        "description": "The request had bad syntax or was inherently impossible to be satified."
                        },
                    "401": {
                        "description": "The request requires user authentication."
                        },
                    "403": {
                        "description": "The request was a valid request, but the server is refusing to respond to it."
                        },
                    "409": {
                        "description": "Returned if the given user is already subscribed to this stream using a different subscription ID, OR if the given subscription ID is already used to identify a subscription to a different stream."
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "activity",
                            "heartrate",
                            "location",
                            "nutrition",
                            "profile",
                            "settings",
                            "sleep",
                            "social",
                            "weight"
                        ]
                    }
                ]
            }
        },
         "/1/activities.json": {
            "get": {
                "tags": [
                    "Activity"
                ],
                "summary": "Browse Activity Types",
                "description": "Retreives a tree of all valid Fitbit public activities from the activities catelog as well as private custom activities the user created in the format requested.",
                "operationId": "getActivitiesTypes",
                "produces": [
                    "application/x-www-form-urlencoded"
                ],
                "responses": {
                    "200": {
                        "description": "A successful request."
                        },
                    "400": {
                        "description": "The request had bad syntax or was inherently impossible to be satified."
                        },
                    "401": {
                        "description": "The request requires user authentication."
                        },
                    "409": {
                        "description": "Returned if the given user is already subscribed to this stream using a different subscription ID, OR if the given subscription ID is already used to identify a subscription to a different stream."
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "activity",
                            "heartrate",
                            "location",
                            "nutrition",
                            "profile",
                            "settings",
                            "sleep",
                            "social",
                            "weight"
                        ]
                    }
                ]
            }
        },

        "/1/activities/{activity-id}.json": {
            "get": {
                "tags": [
                    "Activity"
                ],
                "summary": "Get Activity Type",
                "description": "Returns the detail of a specific activity in the Fitbit activities database in the format requested. If activity has levels, it also returns a list of activity level details.",
                "operationId": "getActivitiesTypeDetail",
                "produces": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "name": "activity-id",
                        "in": "path",
                        "description": "The activity ID.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful request."
                        },
                    "400": {
                        "description": "The request had bad syntax or was inherently impossible to be satified."
                        },
                    "401": {
                        "description": "The request requires user authentication."
                        },
                    "409": {
                        "description": "Returned if the given user is already subscribed to this stream using a different subscription ID, OR if the given subscription ID is already used to identify a subscription to a different stream."
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "activity",
                            "heartrate",
                            "location",
                            "nutrition",
                            "profile",
                            "settings",
                            "sleep",
                            "social",
                            "weight"
                        ]
                    }
                ]
            }
        },

        "/1/user/-/activities/frequent.json": {
            "get": {
                "tags": [
                    "Activity"
                ],
                "summary": "Get Frequent Activities",
                "description": "Retreives a list of a user's frequent activities in the format requested using units in the unit system which corresponds to the Accept-Language header provided.",
                "operationId": "getFrequentActivities",
                "produces": [
                    "application/x-www-form-urlencoded"
                ],
                "responses": {
                    "200": {
                        "description": "A successful request."
                        },
                    "400": {
                        "description": "The request had bad syntax or was inherently impossible to be satified."
                        },
                    "401": {
                        "description": "The request requires user authentication."
                        },
                    "409": {
                        "description": "Returned if the given user is already subscribed to this stream using a different subscription ID, OR if the given subscription ID is already used to identify a subscription to a different stream."
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "activity",
                            "heartrate",
                            "location",
                            "nutrition",
                            "profile",
                            "settings",
                            "sleep",
                            "social",
                            "weight"
                        ]
                    }
                ]
            }
        },

        "/1/user/-/activities/recent.json": {
            "get": {
                "tags": [
                    "Activity"
                ],
                "summary": "Get Recent Activity Types",
                "description": "Retreives a list of a user's recent activities types logged with some details of the last activity log of that type using units in the unit system which corresponds to the Accept-Language header provided.",
                "operationId": "getRecentActivities",
                "produces": [
                    "application/x-www-form-urlencoded"
                ],
                "responses": {
                    "200": {
                        "description": "A successful request."
                        },
                    "400": {
                        "description": "The request had bad syntax or was inherently impossible to be satified."
                        },
                    "401": {
                        "description": "The request requires user authentication."
                        },
                    "409": {
                        "description": "Returned if the given user is already subscribed to this stream using a different subscription ID, OR if the given subscription ID is already used to identify a subscription to a different stream."
                    }
                },
                "security": [
                    {
                        "oauth2": [
                           "activity",
                            "heartrate",
                            "location",
                            "nutrition",
                            "profile",
                            "settings",
                            "sleep",
                            "social",
                            "weight"
                        ]
                    }
                ]
            }
        },

        "/1/user/-/activities/favorite.json": {
            "get": {
                "tags": [
                    "Activity"
                ],
                "summary": "Get Favorite Activities",
                "description": "Returns a list of a user's favorite activities.",
                "operationId": "getFavoriteActivities",
                "produces": [
                    "application/x-www-form-urlencoded"
                ],
                "responses": {
                    "200": {
                        "description": "A successful request."
                        },
                    "400": {
                        "description": "The request had bad syntax or was inherently impossible to be satified."
                        },
                    "401": {
                        "description": "The request requires user authentication."
                        },
                    "409": {
                        "description": "Returned if the given user is already subscribed to this stream using a different subscription ID, OR if the given subscription ID is already used to identify a subscription to a different stream."
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "activity",
                            "heartrate",
                            "location",
                            "nutrition",
                            "profile",
                            "settings",
                            "sleep",
                            "social",
                            "weight"
                        ]
                    }
                ]
            }
        },

        "/1/user/-/activities/favorite/{activity-id}.json": {
            "delete": {
                "tags": [
                    "Activity"
                ],
                "summary": "Delete Favorite Activity",
                "description": "Removes the activity with the given ID from a user's list of favorite activities.",
                "operationId": "deleteFavoriteActivities",
                "produces": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "name": "activity-id",
                        "in": "path",
                        "description": "The ID of the activity to be removed.",
                        "required": true,
                        "type": "string"
                    }
                ],

                "responses": {
                    "200": {
                        "description": "A successful request."
                        },
                    "204": {
                        "description": "The server successfully processed the request, but is not returning any content."
                        },
                    "400": {
                        "description": "The request had bad syntax or was inherently impossible to be satified."
                        },
                    "401": {
                        "description": "The request requires user authentication."
                    }
                },
                "security": [
                    {
                        "oauth2": [
                           "activity",
                            "heartrate",
                            "location",
                            "nutrition",
                            "profile",
                            "settings",
                            "sleep",
                            "social",
                            "weight"
                        ]
                    }
                ]

            },
             "post": {
                "tags": [
                    "Activity"
                ],
                "summary": "Add Favorite Activity",
                "description": "Adds the activity with the given ID to user's list of favorite activities.",
                "operationId": "addFavoriteActivities",
                "produces": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "name": "activity-id",
                        "in": "path",
                        "description": "The encoded ID of the activity.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful request."
                        },
                    "201": {
                        "description": "The request fulfilled and new resource being created."
                        },
                    "400": {
                        "description": "The request had bad syntax or was inherently impossible to be satified."
                        },
                    "401": {
                        "description": "The request requires user authentication."
                        },
                    "409": {
                        "description": "Returned if the given user is already subscribed to this stream using a different subscription ID, OR if the given subscription ID is already used to identify a subscription to a different stream."
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "activity",
                            "heartrate",
                            "location",
                            "nutrition",
                            "profile",
                            "settings",
                            "sleep",
                            "social",
                            "weight"
                        ]
                    }
                ]
              }
        },


        "/1/user/-/activities/goals/{period}.json": {
            "get": {
                "tags": [
                    "Activity"
                ],
                "summary": "Get Activity Goals",
                "description": "Retreives a user's current daily or weekly activity goals using measurement units as defined in the unit system, which corresponds to the Accept-Language header provided.",
                "operationId": "getActivitiesGoals",
                "produces": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "name": "period",
                        "in": "path",
                        "description": "daily or weekly.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful request."
                        },
                    "400": {
                        "description": "The request had bad syntax or was inherently impossible to be satified."
                        },
                    "401": {
                        "description": "The request requires user authentication."
                        },
                    "409": {
                        "description": "Returned if the given user is already subscribed to this stream using a different subscription ID, OR if the given subscription ID is already used to identify a subscription to a different stream."
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "activity",
                            "heartrate",
                            "location",
                            "nutrition",
                            "profile",
                            "settings",
                            "sleep",
                            "social",
                            "weight"
                        ]
                    }
                ]
            },

            "post": {
                "tags": [
                    "Activity"
                ],
                "summary": "Update Activity Goals",
                "description": "Updates a user's daily or weekly activity goals and returns a response using units in the unit system which corresponds to the Accept-Language header provided.",
                "operationId": "addUpdateActivitiesGoals",
                "produces": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "name": "period",
                        "in": "path",
                        "description": "daily or weekly.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "description": "goal type",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "value",
                        "in": "query",
                        "description": "goal value",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful request."
                        },
                    "400": {
                        "description": "The request had bad syntax or was inherently impossible to be satified."
                        },
                    "401": {
                        "description": "The request requires user authentication."
                        },
                    "409": {
                        "description": "Returned if the given user is already subscribed to this stream using a different subscription ID, OR if the given subscription ID is already used to identify a subscription to a different stream."
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "activity",
                            "heartrate",
                            "location",
                            "nutrition",
                            "profile",
                            "settings",
                            "sleep",
                            "social",
                            "weight"
                        ]
                    }
                ]
            }
        },

        "/1/user/-/body/log/fat/date/{date}.json": {
            "get": {
                "tags": [
                    "Body and Weight"
                ],
                "summary": "Get Body Fat Logs",
                "description": "Retreives a list of all user's body fat log entries for a given day in the format requested.",
                "operationId": "getBodyFatByDate",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "date",
                        "in": "path",
                        "description": "The date in the format yyyy-MM-dd.",
                        "required": true,
                        "type": "string",
                        "format": "date"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful request."
                        },
                    "400": {
                        "description": "The request had bad syntax or was inherently impossible to be satified."
                        },
                    "401": {
                        "description": "The request requires user authentication."
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "activity",
                            "heartrate",
                            "location",
                            "nutrition",
                            "profile",
                            "settings",
                            "sleep",
                            "social",
                            "weight"
                        ]
                    }
                ]
            }
        },

        "/1/user/-/body/log/fat/date/{date}/{period}.json": {
            "get": {
                "tags": [
                    "Body and Weight"
                ],
                "summary": "Get Body Fat Logs",
                "description": "Retreives a list of all user's body fat log entries for a given day in the format requested.",
                "operationId": "getBodyFatByDatePeriod",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "date",
                        "in": "path",
                        "description": "The date in the format yyyy-MM-dd.",
                        "required": true,
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "name": "period",
                        "in": "path",
                        "description": "The range for which data will be returned. Options are 1d, 7d, 30d, 1w, 1m, 3m, 6m, 1y, or max.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful request."
                        },
                    "400": {
                        "description": "The request had bad syntax or was inherently impossible to be satified."
                        },
                    "401": {
                        "description": "The request requires user authentication."
                    }
                },
                "security": [
                    {
                        "oauth2": [
                           "activity",
                            "heartrate",
                            "location",
                            "nutrition",
                            "profile",
                            "settings",
                            "sleep",
                            "social",
                            "weight"
                        ]
                    }
                ]
            }
        },

        "/1/user/-/body/log/fat/date/{base-date}/{end-date}.json": {
            "get": {
                "tags": [
                    "Body and Weight"
                ],
                "summary": "Get Body Fat Logs",
                "description": "Retreives a list of all user's body fat log entries for a given day in the format requested.",
                "operationId": "getBodyFatByDateRange",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "base-date",
                        "in": "path",
                        "description": "The range start date in the format yyyy-MM-dd or today.",
                        "required": true,
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "name": "end-date",
                        "in": "path",
                        "description": "The end date of the range.",
                        "required": true,
                        "type": "string",
                        "format": "date"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful request."
                        },
                    "400": {
                        "description": "The request had bad syntax or was inherently impossible to be satified."
                        },
                    "401": {
                        "description": "The request requires user authentication."
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "activity",
                            "heartrate",
                            "location",
                            "nutrition",
                            "profile",
                            "settings",
                            "sleep",
                            "social",
                            "weight"
                        ]
                    }
                ]
            }
        },


        "/1/user/-/body/log/fat.json": {
            "post": {
                "tags": [
                    "Body and Weight"
                ],
                "summary": "Log Body Fat",
                "description": "Creates a log entry for body fat and returns a response in the format requested.",
                "operationId": "addBodyFatLog",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "fat",
                        "in": "query",
                        "description": "Body fat in the format of X.XX in the unit system that corresponds to the Accept-Language header provided.",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "date",
                        "in": "query",
                        "description": "Log entry date in the format yyyy-MM-dd.",
                        "required": true,
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "name": "time",
                        "in": "query",
                        "description": "Time of the measurement in hours and minutes in the format HH:mm:ss that is set to the last second of the day if not provided.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful request."
                        },
                    "201": {
                        "description": "The request has been fulfilled and resulted in a new resouce being created."
                        },
                    "400": {
                        "description": "The request had bad syntax or was inherently impossible to be satified."
                        },
                    "401": {
                        "description": "The request requires user authentication."
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "activity",
                            "heartrate",
                            "location",
                            "nutrition",
                            "profile",
                            "settings",
                            "sleep",
                            "social",
                            "weight"
                        ]
                    }
                ]
            }
        },
        "/1/user/-/body/log/fat/{body-fat-log-id}.json": {
            "delete": {
                "tags": [
                    "Body and Weight"
                ],
                "summary": "Delete Body Fat Log",
                "description": "Deletes a user's body fat log entry with the given ID.",
                "operationId": "deleteBodyFatLog",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "body-fat-log-id",
                        "in": "path",
                        "description": "The ID of the body fat log entry.",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful request."
                        },
                    "204": {
                        "description": "The server successfully processed the request, but is not returning any content."
                        },
                    "400": {
                        "description": "The request had bad syntax or was inherently impossible to be satified."
                        },
                    "401": {
                        "description": "The request requires user authentication."
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "activity",
                            "heartrate",
                            "location",
                            "nutrition",
                            "profile",
                            "settings",
                            "sleep",
                            "social",
                            "weight"
                        ]
                    }
                ]
            }
        },

        "/1/user/-/body/{resource-path}/date/{date}/{period}.json": {
            "get": {
                "tags": [
                    "Body and Weight Time Series"
                ],
                "summary": "Get Body Time Series",
                "description": "Returns time series data in the specified range for a given resource in the format requested using units in the unit system that corresponds to the Accept-Language header provided.",
                "operationId": "getBodyResourceByDatePeriod",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "resource-path",
                        "in": "path",
                        "description": "The resource path, which incudes the bmi, fat, or weight options.",
                        "required": true,
                        "type": "string",
                        "enum": [
                          "bmi",
                          "fat",
                          "weight"
                          ],
                          "default": "weight"
                    },
                    {
                        "name": "date",
                        "in": "path",
                        "description": "The range start date in the format yyyy-MM-dd or today.",
                        "required": true,
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "name": "period",
                        "in": "path",
                        "description": "The range for which data will be returned. Options are 1d, 7d, 30d, 1w, 1m, 3m, 6m, 1y, or max.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful request."
                        },
                    "400": {
                        "description": "The request had bad syntax or was inherently impossible to be satified."
                        },
                    "401": {
                        "description": "The request requires user authentication."
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "activity",
                            "heartrate",
                            "location",
                            "nutrition",
                            "profile",
                            "settings",
                            "sleep",
                            "social",
                            "weight"
                        ]
                    }
                ]
            }
        },


        "/1/user/-/body/{resource-path}/date/{base-date}/{end-date}.json": {
            "get": {
                "tags": [
                    "Body and Weight Time Series"
                ],
                "summary": "Get Body Time Series",
                "description": "Returns time series data in the specified range for a given resource in the format requested using units in the unit system that corresponds to the Accept-Language header provided.",
                "operationId": "getBodyResourceByDateRange",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "resource-path",
                        "in": "path",
                        "description": "The resource path, which incudes the bmi, fat, or weight options.",
                        "required": true,
                        "type": "string",
                        "enum": [
                          "bmi",
                          "fat",
                          "weight"
                          ],
                          "default": "weight"
                    },
                    {
                        "name": "base-date",
                        "in": "path",
                        "description": "The range start date in the format yyyy-MM-dd or today.",
                        "required": true,
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "name": "end-date",
                        "in": "path",
                        "description": "The end date of the range.",
                        "required": true,
                        "type": "string",
                        "format": "date"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful request."
                        },
                    "400": {
                        "description": "The request had bad syntax or was inherently impossible to be satified."
                        },
                    "401": {
                        "description": "The request requires user authentication."
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "activity",
                            "heartrate",
                            "location",
                            "nutrition",
                            "profile",
                            "settings",
                            "sleep",
                            "social",
                            "weight"
                        ]
                    }
                ]
            }
        },
        "/1/user/-/body/log/{goal-type}/goal.json": {
            "get": {
                "tags": [
                    "Body and Weight"
                ],
                "summary": "Get Body Goals",
                "description": "Retreives a user's current body fat percentage or weight goal using units in the unit systems that corresponds to the Accept-Language header providedin the format requested.",
                "operationId": "getBodyGoals",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "goal-type",
                        "in": "path",
                        "description": "weight or fat.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful request."
                        },
                    "400": {
                        "description": "The request had bad syntax or was inherently impossible to be satified."
                        },
                    "401": {
                        "description": "The request requires user authentication."
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "activity",
                            "heartrate",
                            "location",
                            "nutrition",
                            "profile",
                            "settings",
                            "sleep",
                            "social",
                            "weight"
                        ]
                    }
                ]
            }
        },
        "/1/user/-/body/log/fat/goal.json": {
            "post": {
                "tags": [
                    "Body and Weight"
                ],
                "summary": "Update Body Fat Goal",
                "description": "Updates user's fat percentage goal.",
                "operationId": "UpdateBodyFatGoal",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "fat",
                        "in": "query",
                        "description": "Target body fat percentage; in the format X.XX.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful request."
                        },
                    "201": {
                        "description": "The request has been fulfilled and resulted in a new resouce being created."
                        },
                    "400": {
                        "description": "The request had bad syntax or was inherently impossible to be satified."
                        },
                    "401": {
                        "description": "The request requires user authentication."
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "activity",
                            "heartrate",
                            "location",
                            "nutrition",
                            "profile",
                            "settings",
                            "sleep",
                            "social",
                            "weight"
                        ]
                    }
                ]
            }
        },
        "/1/user/-/body/log/weight/goal.json": {
            "post": {
                "tags": [
                    "Body and Weight"
                ],
                "summary": "Update Weight Goal",
                "description": "Updates user's fat percentage goal.",
                "operationId": "updateWeightGoal",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "startDate",
                        "in": "query",
                        "description": "Weight goal start date; in the format yyyy-MM-dd.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "startWeight",
                        "in": "query",
                        "description": "Weight goal start weight; in the format X.XX, in the unit systems that corresponds to the Accept-Language header provided.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "weight",
                        "in": "query",
                        "description": "Weight goal target weight; in the format X.XX, in the unit systems that corresponds to the Accept-Language header provided; required if user doesn't have an existing weight goal.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful request."
                        },
                    "201": {
                        "description": "The request has been fulfilled and resulted in a new resouce being created."
                        },
                    "400": {
                        "description": "The request had bad syntax or was inherently impossible to be satified."
                        },
                    "401": {
                        "description": "The request requires user authentication."
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "profile",
                            "heartrate",
                            "location"
                        ]
                    }
                ]
            }
        },
        "/1/user/-/body/log/weight/date/{date}.json": {
            "get": {
                "tags": [
                    "Body and Weight"
                ],
                "summary": "Get Weight Logs",
                "description": "Retreives a list of all user's body weight log entries for a given day using units in the unit systems which corresponds to the Accept-Language header provided.",
                "operationId": "getWeightByDate",
                "produces": [
                    "application/json"
                ],
                 "parameters": [
                    {
                        "name": "date",
                        "in": "path",
                        "description": "The date in the format yyyy-MM-dd.",
                        "required": true,
                        "type": "string",
                        "format": "date"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful request."
                        },
                    "400": {
                        "description": "The request had bad syntax or was inherently impossible to be satified."
                        },
                    "401": {
                        "description": "The request requires user authentication."
                    }
                },
[...]
