<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <meta http-equiv="Cache-Control" content="no-store" />
    <title>SPORTTITLEDATE</title>
    <style>
      html, body, #map-canvas {
        height: 80%;
        width: 80%;
/*         margin: 10px; */
/*         padding: 10px */
      }
    body { font: 12px Arial;}
    path {
        stroke: steelblue;
        stroke-width: 2;
        fill: none;
    }
    .axis path,
    .axis line {
        fill: none;
        stroke-width: 1;
        shape-rendering: crispEdges;

        stroke: #000;
    }
    .label {
    font-weight: bold;
    }

    .tile {
    shape-rendering: crispEdges;
    }

    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=MAPSAPIKEY">
    </script>
    <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: { lat: CENTRALLAT, lng: CENTRALLON},
          zoom: ZOOMVALUE ,
          mapTypeId: google.maps.MapTypeId.SATELLITE
        };
        var map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);
        var runningRouteCoordinates = [
            INSERTMAPSEGMENTSHERE
            ];
        var runningRoute = new google.maps.Polyline({
            path: runningRouteCoordinates,
            geodesic: true,
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 2
        });
        runningRoute.setMap(map);
      };
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  </head>
  <body>

HISTORYBUTTONS

<form>
<input type="text" name="cmd" id="garmin_cmd"/>
<input type="button" name="submitGARMIN" value="Search" onclick="processFormData();"/>
</form>

    <button type="submit" id="ID" onclick="stravaAuth();">write auth Strava</button>

STRAVAUPLOADBUTTON

</p>

<h1><center><b>SPORTTITLELINK</b></center></h1>

<div id="map-canvas"></div>

<div>
    INSERTTABLESHERE
</div>

<!-- load the d3.js library -->
<script src="https://d3js.org/d3.v3.min.js"></script>

<div>
    INSERTOTHERIMAGESHERE
</div>

<script language="JavaScript" type="text/javascript">
    function send_command( command ) {
        var ostr = '../garmin?' + command;
        location.replace(ostr);
    }
    function stravaAuth() {
        var ostr = "../garmin/strava/auth?auth_type=write";
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.onload = function() {
            var win = window.open(xmlhttp.responseText, '_blank');
            win.focus()
        }
        xmlhttp.open( "GET", ostr, true );
        xmlhttp.send(null);
    }
    function processFormData() {
        var garmin_cmd = document.getElementById( 'garmin_cmd' );
        send_command( 'filter=' + garmin_cmd.value );
    }
    function processStravaData() {
        var strava_title = document.getElementById( 'strava_upload' );
        var ostr = '../garmin/strava/upload';
        var data = JSON.stringify(
            {
                "filename": "FILENAME",
                "title": strava_title.value,
                "activity_type": "ACTIVITYTYPE"
            }
        );
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.onload = function() {
            var win = window.open(xmlhttp.responseText, '_blank');
            win.focus()
        }
        xmlhttp.open( "POST", ostr , true );
        xmlhttp.setRequestHeader("Content-Type", "application/json");
        xmlhttp.send(data);
    }
    function processStravaUpdate(activity_id) {
        var strava_title = document.getElementById( 'strava_upload' );
        var ostr = '../garmin/strava/update';
        var data = JSON.stringify(
            {
                "activity_id": activity_id,
                "title": strava_title.value,
                "activity_type": "ACTIVITYTYPE"
            }
        );
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.onload = function() {
            var win = window.open(xmlhttp.responseText, '_blank');
            win.focus()
        }
        xmlhttp.open( "POST", ostr , true );
        xmlhttp.setRequestHeader("Content-Type", "application/json");
        xmlhttp.send(data);
    }
</script>

</body>

</html>
