<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>SPORTTITLEDATE</title>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<meta charset="utf-8">
<meta http-equiv="Cache-Control" content="no-store" />
<style>
    html, body, #garmin_text_box {
    height: 80%;
    width: 80%;
    }
body { font: 12px Arial;}
path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}
.axis path,
.axis line {
    fill: none;
    stroke-width: 1;
    shape-rendering: crispEdges;

    stroke: #000;
}
.label {
font-weight: bold;
}

.tile {
shape-rendering: crispEdges;
}

</style>
<script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=MAPSAPIKEY">
</script>
<script type="text/javascript">
    function initialize() {
    let mapOptions = {
        center: { lat: CENTRALLAT, lng: CENTRALLON},
        zoom: ZOOMVALUE ,
        mapTypeId: google.maps.MapTypeId.SATELLITE
    };
    let map = new google.maps.Map(document.getElementById('garmin_text_box'),
        mapOptions);
    let runningRouteCoordinates = [
        INSERTMAPSEGMENTSHERE
        ];
    let runningRoute = new google.maps.Polyline({
        path: runningRouteCoordinates,
        geodesic: true,
        strokeColor: '#FF0000',
        strokeOpacity: 1.0,
        strokeWeight: 2
    });
    runningRoute.setMap(map);
    };
    google.maps.event.addDomListener(window, 'load', initialize);
</script>
</head>
<body>

<H3>
    <button type="submit" onclick="scale_measurement_plots();">Scale Plots</button>
    <button type="submit" onclick="heartrate_plot();">Hear Rate Plot</button>
    <button type="submit" onclick="race_result_plot_personal();">Race Result Plot</button>
    <button name="garminconnectoutput" id="garminconnectoutput"> &nbsp; </button>
    <button type="submit" onclick="send_command('filter=latest');"> latest </button>
    <button type="submit" onclick="send_command('filter=sport');"> sport </button>
</H3>

<form>
<input type="text" name="cmd" id="garmin_cmd"/>
<input type="button" name="submitGARMIN" value="Search" onclick="processFormData();"/>
</form>

HISTORYBUTTONS

<br>

STRAVAUPLOADBUTTON

<br>

<h1><center><b>SPORTTITLELINK</b></center></h1>

<script src="https://d3js.org/d3.v3.min.js"></script>

<div id="garmin_text_box"></div>

<div>
    INSERTTABLESHERE
</div>

<div>
    INSERTOTHERIMAGESHERE
</div>

<script language="JavaScript" type="text/javascript">
    function send_command( command ) {
        let ostr = '/garmin/demo.html?' + command;
        location.replace(ostr);
    }
    function stravaAuthWrite() {
        let ostr = "/garmin/strava/auth?auth_type=write";
        let xmlhttp = new XMLHttpRequest();
        xmlhttp.onload = function() {
            let win = window.open(xmlhttp.responseText, '_blank');
            win.focus()
        }
        xmlhttp.open( "GET", ostr, true );
        xmlhttp.send(null);
    }
    function processFormData() {
        let garmin_cmd = document.getElementById( 'garmin_cmd' );
        send_command( 'filter=' + garmin_cmd.value );
    }
    function processStravaData() {
        let strava_title = document.getElementById( 'strava_upload' );
        let ostr = '/garmin/strava/upload';
        let data = JSON.stringify(
            {
                "filename": "FILENAME",
                "title": strava_title.value,
                "activity_type": "ACTIVITYTYPE"
            }
        );
        let xmlhttp = new XMLHttpRequest();
        xmlhttp.onload = function() {
            let win = window.open(xmlhttp.responseText, '_blank');
            win.focus()
        }
        xmlhttp.open( "POST", ostr , true );
        xmlhttp.setRequestHeader("Content-Type", "application/json");
        xmlhttp.send(data);
    }
    function processStravaUpdate(activity_id) {
        let strava_title = document.getElementById( 'strava_upload' );
        let ostr = '/garmin/strava/update';
        let data = JSON.stringify(
            {
                "activity_id": activity_id,
                "title": strava_title.value,
                "activity_type": "ACTIVITYTYPE"
            }
        );
        let xmlhttp = new XMLHttpRequest();
        xmlhttp.onload = function() {
            let xmlhttp2 = new XMLHttpRequest();
            xmlhttp2.onload = function() {
                location.reload()
            }
            xmlhttp2.open("GET", xmlhttp.responseText, true);
            xmlhttp2.send(null);
            document.getElementById("garminconnectoutput").innerHTML = "syncing";
        }
        xmlhttp.open( "POST", ostr , true );
        xmlhttp.setRequestHeader("Content-Type", "application/json");
        xmlhttp.send(data);
    }
    function garmin_sync() {
        let ostr = '/garmin/garmin_sync';
        let xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", ostr, true);
        xmlhttp.onload = function nothing() {
            document.getElementById("garminconnectoutput").innerHTML = "done";
            document.getElementById("garmin_text_box").innerHTML = xmlhttp.responseText;
        }
        xmlhttp.send(null);
        document.getElementById("garminconnectoutput").innerHTML = "syncing";
    }
    function garmin_connect_sync() {
        let ostr = '/garmin/garmin_connect_sync';
        let xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", ostr, true);
        xmlhttp.onload = function nothing() {
            document.getElementById("garminconnectoutput").innerHTML = "done";
            document.getElementById("garmin_text_box").innerHTML = xmlhttp.responseText;
        }
        xmlhttp.send(null);
        document.getElementById("garminconnectoutput").innerHTML = "syncing";
    }
    function fitbit_tcx_sync() {
        let ostr = '/garmin/fitbit/fitbit_tcx_sync';
        let xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", ostr, true);
        xmlhttp.onload = function nothing() {
            document.getElementById("garminconnectoutput").innerHTML = "done";
            document.getElementById("garmin_text_box").innerHTML = xmlhttp.responseText;
        }
        xmlhttp.send(null);
        document.getElementById("garminconnectoutput").innerHTML = "syncing";
    }
    function stravaAuthRead() {
        let ostr = "/garmin/strava/auth?auth_type=read";
        let xmlhttp = new XMLHttpRequest();
        xmlhttp.onload = function() {
            let win = window.open(xmlhttp.responseText, '_blank');
            win.focus()
        }
        xmlhttp.open( "GET", ostr, true );
        xmlhttp.send(null);
    }
    function strava_sync() {
        let ostr = '/garmin/strava_sync';
        let xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", ostr, true);
        xmlhttp.onload = function nothing() {
            document.getElementById("garminconnectoutput").innerHTML = "done";
            document.getElementById("garmin_text_box").innerHTML = xmlhttp.responseText;
        }
        xmlhttp.send(null);
        document.getElementById("garminconnectoutput").innerHTML = "syncing";
    }
    function fitbitAuth() {
        let url = '/garmin/fitbit/auth';
        let xmlhttp = new XMLHttpRequest();
        xmlhttp.onload = function() {
            let win = window.open(xmlhttp.responseText, '_blank');
            win.focus()
        }
        xmlhttp.open("GET", url, true);
        xmlhttp.send(null);
    }
    function fitbitSync() {
        let url = '/garmin/fitbit/bodyweight_sync';
        let xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", url, true);
        xmlhttp.onload = function nothing() {
            document.getElementById("garminconnectoutput").innerHTML = "done";
            document.getElementById("garmin_text_box").innerHTML = xmlhttp.responseText;
        }
        xmlhttp.send(null);
        document.getElementById("garminconnectoutput").innerHTML = "syncing";
    }
    function scale_measurement_plots() {
        let ostr = '/garmin/fitbit/plots_demo';
        location.replace(ostr)
    }
    function heartrate_plot() {
        let ostr = '/garmin/fitbit/heartrate_plots_demo';
        location.replace(ostr)
    }
    function heartrateSync() {
        let ostr = '/sync/sync_garmin';
        let xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", ostr, true);
        xmlhttp.onload = function nothing() {
            document.getElementById("garminconnectoutput").innerHTML = "done";
            document.getElementById("garmin_text_box").innerHTML = xmlhttp.responseText;
        }
        xmlhttp.send(null);
        document.getElementById("garminconnectoutput").innerHTML = "syncing";
    }
    function race_result_plot_personal() {
        let ostr = "/garmin/race_result_plot?race_type=personal"
        location.replace(ostr)
    }
    function race_result_plot_world_record_men() {
        let ostr = "/garmin/race_result_plot?race_type=world_record_men"
        location.replace(ostr)
    }
    function race_result_plot_world_record_women() {
        let ostr = "/garmin/race_result_plot?race_type=world_record_women"
        location.replace(ostr)
    }
</script>

</body>

</html>
