<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Scale Measurement Plots</title>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<meta charset="utf-8">
<meta http-equiv="Cache-Control" content="no-store" />
<style>
    html, body {
    height: 80%;
    width: 80%;
    }
body { font: 12px Arial;}
path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}
.axis path,
.axis line {
    fill: none;
    stroke-width: 1;
    shape-rendering: crispEdges;

    stroke: #000;
}
.label {
font-weight: bold;
}

.tile {
shape-rendering: crispEdges;
}

</style>
</head>
<body>

<H3>
    <button type="submit" onclick="garmin_sync();">sync with S3</button>
    <button type="submit" onclick="garmin_connect_sync();">sync with Garmin Connect</button>
    <button type="submit" onclick="fitbit_tcx_sync();">sync with Fitbit TCX</button>
    <button type="submit" onclick="stravaAuth();">read auth Strava</button>
    <button type="submit" onclick="fitbitAuth();">Fitbit Auth</button>
    <button type="submit" onclick="heartrateSync();">Scale sync</button>
    <br>
    <button type="submit" onclick="stravaAthlete();">Strava Athlete</button>
    <button type="submit" onclick="strava_sync();">sync with Strava</button>
    <button type="submit" onclick="fitbitProfile();">Fitbit Profile</button>
    <button type="submit" onclick="fitbitSync();">Fitbit Sync</button>
    <br>
    <button type="submit" onclick="scale_measurement_plots();">Scale Plots</button>
    <button type="submit" onclick="heartrate_stat_plot();">Hear Rate Stats</button>
    <button type="submit" onclick="heartrate_plot();">Hear Rate Plots</button>
    <button type="submit" onclick="race_result_plot_personal();">Race Result Plot</button>
    <button name="garminconnectoutput" id="garminconnectoutput"> &nbsp; </button>
    <button type="submit" onclick="send_command('filter=latest');"> latest </button>
    <button type="submit" onclick="send_command('filter=sport');"> sport </button>
    <form action="/garmin/upload_file" method="post" enctype="multipart/form-data">
        <input type="file" name="filename">
        <input type="submit">
    </form>
</H3>

<form>
<input type="text" name="cmd" id="garmin_cmd"/>
<input type="button" name="submitGARMIN" value="Search" onclick="processFormData();"/>
</form>

HISTORYBUTTONS

<br><br>

<div id="garmin_text_box">
    INSERTTEXTHERE
</div>

<br>

<script src="https://d3js.org/d3.v3.min.js"></script>

<div>
    INSERTOTHERIMAGESHERE
</div>

<script language="JavaScript" type="text/javascript">
    function send_command( command ) {
        let ostr = '/garmin?' + command;
        location.replace(ostr);
    }
    function processFormData() {
        let garmin_cmd = document.getElementById( 'garmin_cmd' );
        send_command( 'filter=' + garmin_cmd.value );
    }
    function processStravaData() {
        let strava_title = document.getElementById( 'strava_upload' );
        let ostr = '/garmin/strava/upload';
        let data = JSON.stringify(
            {
                "filename": "FILENAME",
                "title": strava_title.value,
                "activity_type": "ACTIVITYTYPE"
            }
        );
        let xmlhttp = new XMLHttpRequest();
        xmlhttp.onload = function() {
            let win = window.open(xmlhttp.responseText, '_blank');
            win.focus()
        }
        xmlhttp.open( "POST", ostr , true );
        xmlhttp.setRequestHeader("Content-Type", "application/json");
        xmlhttp.send(data);
    }
    function processStravaUpdate(activity_id) {
        let strava_title = document.getElementById( 'strava_upload' );
        let ostr = '/garmin/strava/update';
        let data = JSON.stringify(
            {
                "activity_id": activity_id,
                "title": strava_title.value,
                "activity_type": "ACTIVITYTYPE"
            }
        );
        let xmlhttp = new XMLHttpRequest();
        xmlhttp.onload = function() {
            let xmlhttp2 = new XMLHttpRequest();
            xmlhttp2.onload = function() {
                location.reload()
            }
            xmlhttp2.open("GET", xmlhttp.responseText, true);
            xmlhttp2.send(null);
            document.getElementById("garminconnectoutput").innerHTML = "syncing";
        }
        xmlhttp.open( "POST", ostr , true );
        xmlhttp.setRequestHeader("Content-Type", "application/json");
        xmlhttp.send(data);
    }
    function garmin_sync() {
        let ostr = '/garmin/garmin_sync';
        let xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", ostr, true);
        xmlhttp.onload = function nothing() {
            document.getElementById("garminconnectoutput").innerHTML = "done";
            document.getElementById("garmin_text_box").innerHTML = xmlhttp.responseText;
        }
        xmlhttp.send(null);
        document.getElementById("garminconnectoutput").innerHTML = "syncing";
    }
    function garmin_connect_sync() {
        let ostr = '/garmin/garmin_connect_sync';
        let xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", ostr, true);
        xmlhttp.onload = function nothing() {
            document.getElementById("garminconnectoutput").innerHTML = "done";
            document.getElementById("garmin_text_box").innerHTML = xmlhttp.responseText;
        }
        xmlhttp.send(null);
        document.getElementById("garminconnectoutput").innerHTML = "syncing";
    }
    function fitbit_tcx_sync() {
        let ostr = '/garmin/fitbit/fitbit_tcx_sync';
        let xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", ostr, true);
        xmlhttp.onload = function nothing() {
            document.getElementById("garminconnectoutput").innerHTML = "done";
            document.getElementById("garmin_text_box").innerHTML = xmlhttp.responseText;
        }
        xmlhttp.send(null);
        document.getElementById("garminconnectoutput").innerHTML = "syncing";
    }
    function stravaAuth() {
        let ostr = "/garmin/strava/auth";
        let xmlhttp = new XMLHttpRequest();
        xmlhttp.onload = function() {
            let win = window.open(xmlhttp.responseText, '_blank');
            win.focus()
        }
        xmlhttp.open( "GET", ostr, true );
        xmlhttp.send(null);
    }
    function stravaAthlete() {
        let ostr = "/garmin/strava/athlete";
        let xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", ostr, true);
        xmlhttp.onload = function nothing() {
            document.getElementById("garminconnectoutput").innerHTML = "done";
            document.getElementById("garmin_text_box").innerHTML = JSON.stringify(JSON.parse(xmlhttp.responseText),null,2);
        }
        xmlhttp.send(null);
        document.getElementById("garminconnectoutput").innerHTML = "syncing";
    }
    function strava_sync() {
        let ostr = '/garmin/strava_sync';
        let xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", ostr, true);
        xmlhttp.onload = function nothing() {
            document.getElementById("garminconnectoutput").innerHTML = "done";
            document.getElementById("garmin_text_box").innerHTML = xmlhttp.responseText;
        }
        xmlhttp.send(null);
        document.getElementById("garminconnectoutput").innerHTML = "syncing";
    }
    function fitbitAuth() {
        let url = '/garmin/fitbit/auth';
        let xmlhttp = new XMLHttpRequest();
        xmlhttp.onload = function() {
            let win = window.open(xmlhttp.responseText, '_blank');
            win.focus()
        }
        xmlhttp.open("GET", url, true);
        xmlhttp.send(null);
    }
    function fitbitProfile() {
        let url = "/garmin/fitbit/profile";
        let xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", url, true);
        xmlhttp.onload = function nothing() {
            document.getElementById("garminconnectoutput").innerHTML = "done";
            document.getElementById("garmin_text_box").innerHTML = JSON.stringify(JSON.parse(xmlhttp.responseText),null,2);
        }
        xmlhttp.send(null);
        document.getElementById("garminconnectoutput").innerHTML = "syncing";
    }
    function fitbitSync() {
        let url = '/garmin/fitbit/bodyweight_sync';
        let xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", url, true);
        xmlhttp.onload = function nothing() {
            document.getElementById("garminconnectoutput").innerHTML = "done";
            document.getElementById("garmin_text_box").innerHTML = xmlhttp.responseText;
        }
        xmlhttp.send(null);
        document.getElementById("garminconnectoutput").innerHTML = "syncing";
    }
    function scale_measurement_plots() {
        let ostr = '/garmin/fitbit/plots';
        location.replace(ostr)
    }
    function heartrate_plot() {
        let ostr = '/garmin/fitbit/heartrate_plots';
        location.replace(ostr)
    }
    function heartrate_stat_plot() {
        let ostr = '/garmin/fitbit/heartrate_statistics_plots';
        location.replace(ostr)
    }
    function heartrate_plot_date(start_date, end_date) {
        let ostr = '/garmin/fitbit/heartrate_plots?start_date=' + start_date + "&end_date=" + end_date;
        location.replace(ostr)
    }
    function heartrate_sync(date) {
        let url = '/garmin/fitbit/sync?date=' + date;
        let xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", url, true);
        xmlhttp.onload = function nothing() {
            document.getElementById("garminconnectoutput").innerHTML = "done";
            heartrate_plot_date(date, date);
        }
        xmlhttp.send(null);
        document.getElementById("garminconnectoutput").innerHTML = "syncing";
    }
    function connect_hr_sync(date) {
        let url = '/garmin/garmin_connect_hr_sync?date=' + date;
        let xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", url, true);
        xmlhttp.onload = function nothing() {
            document.getElementById("garminconnectoutput").innerHTML = "done";
            heartrate_plot_date(date, date);
        }
        xmlhttp.send(null);
        document.getElementById("garminconnectoutput").innerHTML = "syncing";
    }
    function heartrateSync() {
        let ostr = '/sync/sync_garmin';
        let xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", ostr, true);
        xmlhttp.onload = function nothing() {
            document.getElementById("garminconnectoutput").innerHTML = "done";
            document.getElementById("garmin_text_box").innerHTML = xmlhttp.responseText;
        }
        xmlhttp.send(null);
        document.getElementById("garminconnectoutput").innerHTML = "syncing";
    }
    function addGarminCorrectionSport(begin_datetime) {
        let sport = document.getElementById( 'sport_select' );
        let ostr = '/garmin/add_garmin_correction';
        let data = JSON.stringify(
            {
                "start_time": begin_datetime,
                "lap_number": 0,
                "sport": sport.value
            }
        );
        let xmlhttp = new XMLHttpRequest();
        xmlhttp.onload = function() {
            document.getElementById("garminconnectoutput").innerHTML = "done";
        }
        xmlhttp.open( "POST", ostr , true );
        xmlhttp.setRequestHeader("Content-Type", "application/json");
        xmlhttp.send(data);
    }
    function race_result_plot_personal() {
        let ostr = "/garmin/race_result_plot?race_type=personal"
        location.replace(ostr)
    }
    function race_result_plot_world_record_men() {
        let ostr = "/garmin/race_result_plot?race_type=world_record_men"
        location.replace(ostr)
    }
    function race_result_plot_world_record_women() {
        let ostr = "/garmin/race_result_plot?race_type=world_record_women"
        location.replace(ostr)
    }
</script>

</body>

</html>
